:root {
    --primary-bg-color: #cfbc86;
    --secondary-color: #D06100;
    --accent-1: #FBFDFD;
    --accent-2: #99DEE1;
    --text-color: #3A321A;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-bg-color);
}

.logo-box {
    display: flex;
    align-content: end;
}

.navigation {
	display: flex;
    gap: 20px;
	list-style: none;
    font-size: 20px;
}

.navigation li {
    flex: 0;
}

.navigation a {
	display: block;
	color: var(--secondary-color);
	padding: 10px 15px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--accent-2);
	font-weight: 700;
	text-decoration: underline;
}

.hero {
    position: relative;
    background-image: url(../images/rafting-hero.jpg);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    color: var(--accent-1);
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--accent-1)
}

.hero-description {
    margin-top: 35px;
    font-size: 1.2rem;
    max-width: 350px;
}

.hero-description p {
    color: var(--accent-1);
    line-height: 1.5;
}

.history {
    padding: 20px;
    background-color: var(--accent-2);
}

.history h2 {
    align-self: flex-start;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--text-color);
}

.history .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
}

.history .grid p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--secondary-color);
}

.history .grid img {
    width: 100%;
    height: auto;
    max-width: 300px;
    justify-self: center;
    border-radius: 10px;
}

.adventure {
    padding: 40px;
    background-color: var(--accent-2);
}

.adventure h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: var(--text-color);
}

.adventure .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.adventure figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.adventure img {
    width: 180px;
    height: auto;
    border-radius: 5px;
}

.adventure figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--text-color);
}

body, p {
    font-family: 'Afacad Flux', sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--primary-bg-color);
}

.social-links {
    display: flex;
    gap: 20px;
}

