:root {
    --primary-color: #3A321A;
    --secondary-color: #D06100;
    --accent-1: #FBFDFD;
    --accent-2: #99DEE1;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.logo-box {
    display: flex;
    align-content: center;
}

.navigation {
	display: flex;
	list-style: none;
    font-size: 20px;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--secondary-color);
	padding: 20px;
	text-decoration: none;
    align-items: center;
}

.navigation a:hover {
	color: var(--accent-2);
	font-weight: 700;
	text-decoration: underline;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primary-color);
}

article img {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 300px;
}

body, p {
    font-family: 'Afacad Flux', sans-serif;
    font-weight: 300;
    color: var(--secondary-color);
}

footer {
    display: grid;
    align-items: end;
}

.social-links {
    align-content: end;
}

